@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin: 0 0 0.5em;
}

button {
  height: fit-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
button:focus,
button:focus-visible {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc(100vh / 4) 0 0;
  width: 100vw;
  max-width: 400px;
}

.task-form {
  display: flex;
  gap: 10px;
  background-color: #474744;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
}

.form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

.form-inputs input {
  padding: 10px;
  border-radius: 8px;
  height: 40px;
  border: 1px solid #474744;
  outline: none;
}

.form-inputs input::placeholder {
  color: #fff;
}

.form-inputs input:focus {
  border-color: #646cff;
}

.task-list {
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #474744;
  border-radius: 16px;
  flex-wrap: wrap;
}

.task-title,
.task-description {
  margin: 0;
}

.task-text {
  flex: 1;
  width: 0;
  word-wrap: break-word;
}

.task.done .task-text {
  text-decoration: line-through;
}

.task-delete-button {
  display: flex;
  justify-content: center;
  margin: 0 0 0 auto;
}

.task-checkbox {
  position: relative;
  visibility: hidden;
  width: 20px;
  height: 20px;
  z-index: 1;
  margin: 0;
}

.task-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 16px;
  border: 1px solid #474744;
  background-color: #3b3b3b;
  z-index: 2;
  visibility: visible;
}

.task-checkbox:checked::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='14px' viewBox='0 -960 960 960' width='14px' fill='%23fff'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
  background-color: #646cff;
}

@media screen and (max-width: 650px) {
  .task-form {
    flex-direction: column;
  }
}

@media screen and (max-width: 399px) {
  .task-form,
  .task {
    border-radius: 0;
    padding: 15px;
  }

  .container-title {
    font-size: 1.5em;
    margin: 0 15px 15px;
  }
}
